@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <form asp-action="ProcessUser" asp-controller="Home" method="POST">
        <input class="form-control" type="text" id="username" name="username" required>
        <select class="form-select" name="avatar" id="avatarId">
            <option value="aa">A</option>
            <option value="bb">B</option>
            <option value="cc">C</option>
            <option value="dd">D</option>
        </select>
        <button class="btn btn-primary" type="submit">Start Chat</button>
    </form>

</div>
