@{
    ViewData["Title"] = "Chat";
}

<head>
    <meta charset="UTF-8">
    <title>WebSocket Chat</title>
</head>
<body>
<h1>WebSocket Chat</h1>
<input id="messageInput" placeholder="Message" />
<button onclick="sendMessage()">Send</button>
<ul id="messagesList"></ul>
</body>
